body {
    font-family: "Gruppo", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    background: #010214;
    color: #fff;
    padding: 10px 0;

}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#secao1 {
    background: #030637;
    padding-bottom: 5 0px;
    font-size: 20px;
    padding-left: 0px;
    display: flex;
}

#secao1 p {
    padding-left: 20px;
    padding-right: 20px;
    flex: 2;
}

#tituloS1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
}

#textoS1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    display: flex;
}

#fotinha1 {
    width: 25%;
    height: 400px;
    display:flex;
}
